# Tools for Data Science - Peer Graded Assignment
###
***

<h3><strong>Assignment Topic</strong>:</h3>

<br>There are a total of 25 points possible for this final project.</h4>

<ol>

<li>Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)</li>

<li>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</li>

<li>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</li>

<li>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</li>

<li>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</li>

<li>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</li>

<li>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</li>

<li>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</li>

<li>Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)</li>

<li>Exercise 11 - Create a markdown cell to indicate the Author’s name. (2 pts)</li>

<li>Exercise 12 - Share your notebook through GitHub (3 pts)</li>

<li>Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)</li>
    
</ol>

<h3>Exercise 1 - Create a Jupyter Notebook</h3>
<hr>

<h2>Name: <strong>DataScienceEcosystem.ipynb</strong></h2>

<br><h3>Exercise 2 - Create a markdown cell with the title of the notebook</h3>
<hr>

<h1>Data Science Tools and Ecosystem</h1>

<br><h3>Exercise 3 - Create a markdown cell for an introduction</h3>
<hr>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.<p>

<h3>Exercise 4 - Create a markdown cell to list data science languages</h3>
<hr>

<p>Some of the popular languages that Data Scientists use are:</p>
<ol>
    <li>Python.</li>
    <li>R.</li>
    <li>SQL.</li>
    <li>Java.</li>
    <li>Julia.</li>
    <li>Scala.</li>
</ol>

<br><h3>Exercise 5 - Create a markdown cell to list data science libraries</h3>
<hr>

<p>Some of the commonly used libraries used by Data Scientists include:</p>
<ol>
    <li>TensorFlow.</li>
    <li>NumPy.</li>
    <li>SciPy.</li>
    <li>Pandas.</li>
    <li>Matplotlib.</li>
    <li>Keras.</li>
    <li>SciKit-Learn.</li>
    <li>PyTorch.</li>
    <li>Scrapy.</li>
    <li>BeautifulSoup.</li>
</ol>

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</strong>

<p>Data Science Tools:</p>

<table>
  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>SAS. It is one of those data science tools which are specifically designed for statistical operation</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>BigML</td>
    <td></td>
    <td></td>
  </tr>
</table>

<br><h3>Exercise 7 - Create a markdown cell introducing arithmetic expression examples</h3>
<hr>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)

9

In [2]:
code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)

24

In [3]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)

65449.84694978735

<br><h3>Exercise 8 - Create a code cell to multiply and add numbers</h3>
<hr>

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

<br><h3>Exercise 9 - Create a code cell to convert minutes to hours</h3>
<hr>

This will convert 200 minutes to hours by diving by 60

In [5]:
hours = 0
mins = 0

time = 200
hours = int(time / 60)
mins = int(time % 60)
print(str(hours) + " hours, " + str(mins) +  " minutes")

3 hours, 20 minutes

<br><h3>Exercise 10 - Insert a markdown cell to list Objectives</h3>
<hr>

<p>Objectives:</p>
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>Comment on Data Science tools.</li>
    <li>Evaluate arithmatic expressions in Python
</ul>

<br><h3>Exercise 11 - Create a markdown cell to indicate the Author’s name</h3>
<hr>

<h2>Author:</h2><br>
Anushka Singh